header,
footer {
    margin: 50px 0;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
    font-weight: 700;
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}


.name{
    position: absolute;  /* Positioning it absolutely */
    top: 20px;  /* 20 pixels from the top */
    left: 20px;  /* 20 pixels from the left */
    font-family: initial;  /* Font family */
    font-size: 36px;  /* Big font size */
    font-weight: bold;  /* Bold font weight */
    color: #333;  /* Dark grey color */
    text-shadow: 1px 1px 2px #aaa;  /* Subtle shadow for better visibility */
    opacity: 0;  /* Initial opacity for fade-in effect */
    animation: fadeIn 2s ease-in-out forwards;  /* Animation details */
}
.name:hover {
    color: #000;  /* Darker color on hover */
    transform: scale(1.1);  /* Slightly enlarge on hover */
    opacity: 0.8;  /* Change opacity on hover */
}
